<html lang="ja">
    <header>
        <meta charset="UTF-8" />
        <title>janken</title>
    </header>
    <body>
        <a href="/logout">ログアウト</a>
        <h1>Janken GAME!</h1>
        <p>Hi [[${username}]]</p>
        <div th:each="user:${users}">
            <ul>
                <li th:text="${user.name}"></li>
            </ul>
          </div>
        <div>
            <a href="/jankengame?hand=Gu">グー</a>
            <a href="/jankengame?hand=Choki">チョキ</a>
            <a href="/jankengame?hand=Pa">パー</a>
        </div>
        <div th:each="match:${matches}">
            <tr>
                <td>id:[[${match.id}]]</td>
                <td>user1:[[${match.user1}]]</td>
                <td>user2:[[${match.user2}]]</td>
                <td>user1の手:[[${match.user1Hand}]]</td>
                <td>user2の手:[[${match.user2Hand}]]</td>
            </tr>
        </div>
    </body>
</html>